body {
    background-color: black;
    color: white;
}

#img {
    display: flex;
}

#topnav {
    display: flex;
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
}


#topnav div a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -60px;
    display: flex;
}

#topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
}



#bottomnav {
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: right;
    border-top: 1px solid white;
    display: flex;
    text-decoration: none;
}


#bottomnav div a {
    color: #ffffff;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    margin-top: 40px;

}

h1 {
    font-size: 60px;
}

#about {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 30px;
    max-width: 512px;
}

p {
    font-size: 20px;
}

#container1 {
    max-width: 1024px;
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
}

#word1 {
    max-width: 432px;
    padding: 40px;
}

#container2 {
    max-width: 1024px;
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
}

#word2 {
    max-width: 432px;
    padding: 40px;
}

#container3 {
    max-width: 1024px;
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
}

#word3 {
    max-width: 432px;
    padding: 40px;
}