body {
    background-color: black;
    color: white;
}



/* @media only screen and (min-width: 1000px) {
    #topnav {
        flex-direction: column;

    }
} */

#topnav {
    display: flex;
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
}


#topnav div a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -60px;
    display: flex;
}

#topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
}



#bottomnav {
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: right;
    border-top: 1px solid white;
    display: flex;
    text-decoration: none;
}


#bottomnav div a {
    color: #ffffff;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    margin-top: 40px;

}

h1 {
    font-size: 60px;
}

#contact {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 30px;
    max-width: 512px;
}




.container {
    position: relative;
    display: flex;
    max-width: 1057px;
    margin: auto;
    justify-content: space-between;
}

.center {
    position: absolute;
    width: 370px;
    left: 70px;
    top: 20%;
    text-align: center;
    font-size: 40px;
    background-color: #ffffff;
    color: #000000;
    height: 380px;
    text-decoration: none;
}



img.cxk {
    width: 100%;
    height: auto;
}

#email {
    border: 2px solid black;
    color: grey;
    font-size: 12px;
    width: 200px;
    text-align: left;
    margin-left: 70px;
    padding: 10px;
    margin-bottom: 20px;
}

#sub {
    border: 2px solid black;
    color: grey;
    font-size: 12px;
    width: 200px;
    text-align: left;
    margin-left: 70px;
    padding: 10px;
    margin-bottom: 20px;
}

#msg {
    border: 2px solid black;
    color: grey;
    font-size: 12px;
    width: 200px;
    text-align: left;
    margin-left: 70px;
    padding: 10px;
    margin-bottom: 20px;
}

#button {
    background-color: #000000;
    color: white;
    font-size: 12px;
    width: 100px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 192px;
    border: 0px solid rgb(101, 101, 101);
    text-decoration: none;
}

#button :hover {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    width: 100px;
    border: 2px solid rgb(101, 101, 101);
    text-decoration: none;
}

.bottomright {
    position: absolute;
    left: 63px;
    bottom: 40px;
    height: 220px;
    width: 930px;
    background-color: #000000;
    display: flex;
}

#p {
    width: 300px;
    display: flex;
}

#ip {
    margin-left: 30px;
    margin-top: 30px;
}

#wp {
    margin-left: 30px;
    margin-top: 45px;
}

#w2p {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

#e {
    width: 300px;
    display: flex;
}

#ie {
    margin-left: 30px;
    margin-top: 30px;
}

#we {
    margin-left: 30px;
    margin-top: 45px;
}

#w2e {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

#a {
    width: 300px;
    display: flex;
}

#ia {
    margin-left: 30px;
    margin-top: 30px;
}

#wa {
    margin-left: 30px;
    margin-top: 45px;
}

#w2a {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
}

.center a {
    color: white;
}