body {
    background-color: black;
    color: white;
    zoom: 100%;
}

#img {
    display: flex;
}

#topnav {
    display: flex;
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
}


#topnav div a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -60px;
    display: flex;
}

#topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
}



#bottomnav {
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: right;
    border-top: 1px solid white;
    display: flex;
    text-decoration: none;
}


#bottomnav div a {
    color: #ffffff;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    margin-top: 40px;

}

h1 {
    font-size: 60px;
}

#gallery {
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

#categories {
    margin-top: 30px;
    display: flex;
    background-color: #000000;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
    border: 2px solid white;
}


#categories div a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: -60px;
    display: flex;
}

#categories a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
}

#photo {
    max-width: 1024px;
    margin: auto;
}