body {
    background-image: url("cssimg/GYM.jpg");
    text-align: center;
    background-size: "20";
    background-position: fixed;
    background-repeat: repeat-x;
}





h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    text-align: center
}

p {
    color: rgb(0, 0, 0);
    font-size: 50px;
    background-color: yellow;
    padding: 20px;
    border: 5px solid gray;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    text-align: center;
}



div {
    text-align: center;
}